ProyectosJavaCSharp/CSharp/InventStar/Connected Services/PersonalWS/PersonalWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.inventstar.cdejava.lp2/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PersonalWS" targetNamespace="http://services.inventstar.cdejava.lp2/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CdeJavaInventstarWebService/PersonalWS?xsd=1" namespace="http://services.inventstar.cdejava.lp2/" />
    </xsd:schema>
  </types>
  <message name="listarTodosCargos">
    <part name="parameters" element="tns:listarTodosCargos" />
  </message>
  <message name="listarTodosCargosResponse">
    <part name="parameters" element="tns:listarTodosCargosResponse" />
  </message>
  <message name="listarTodosPersonalesPorNombre_Apellido_DNI">
    <part name="parameters" element="tns:listarTodosPersonalesPorNombre_Apellido_DNI" />
  </message>
  <message name="listarTodosPersonalesPorNombre_Apellido_DNIResponse">
    <part name="parameters" element="tns:listarTodosPersonalesPorNombre_Apellido_DNIResponse" />
  </message>
  <message name="verificarCuentaPersonalConPermisos">
    <part name="parameters" element="tns:verificarCuentaPersonalConPermisos" />
  </message>
  <message name="verificarCuentaPersonalConPermisosResponse">
    <part name="parameters" element="tns:verificarCuentaPersonalConPermisosResponse" />
  </message>
  <message name="listarTodosCargosPorNombre">
    <part name="parameters" element="tns:listarTodosCargosPorNombre" />
  </message>
  <message name="listarTodosCargosPorNombreResponse">
    <part name="parameters" element="tns:listarTodosCargosPorNombreResponse" />
  </message>
  <message name="modificarPermisoPersonal">
    <part name="parameters" element="tns:modificarPermisoPersonal" />
  </message>
  <message name="modificarPermisoPersonalResponse">
    <part name="parameters" element="tns:modificarPermisoPersonalResponse" />
  </message>
  <message name="listarOrdenVenta">
    <part name="parameters" element="tns:listarOrdenVenta" />
  </message>
  <message name="listarOrdenVentaResponse">
    <part name="parameters" element="tns:listarOrdenVentaResponse" />
  </message>
  <message name="insertarSucursal">
    <part name="parameters" element="tns:insertarSucursal" />
  </message>
  <message name="insertarSucursalResponse">
    <part name="parameters" element="tns:insertarSucursalResponse" />
  </message>
  <message name="listarMatriz">
    <part name="parameters" element="tns:listarMatriz" />
  </message>
  <message name="listarMatrizResponse">
    <part name="parameters" element="tns:listarMatrizResponse" />
  </message>
  <message name="eliminarSucursal">
    <part name="parameters" element="tns:eliminarSucursal" />
  </message>
  <message name="eliminarSucursalResponse">
    <part name="parameters" element="tns:eliminarSucursalResponse" />
  </message>
  <message name="listarTodosArticulos">
    <part name="parameters" element="tns:listarTodosArticulos" />
  </message>
  <message name="listarTodosArticulosResponse">
    <part name="parameters" element="tns:listarTodosArticulosResponse" />
  </message>
  <message name="verificarCuentaPersonal">
    <part name="parameters" element="tns:verificarCuentaPersonal" />
  </message>
  <message name="verificarCuentaPersonalResponse">
    <part name="parameters" element="tns:verificarCuentaPersonalResponse" />
  </message>
  <message name="listarTodosSucursales">
    <part name="parameters" element="tns:listarTodosSucursales" />
  </message>
  <message name="listarTodosSucursalesResponse">
    <part name="parameters" element="tns:listarTodosSucursalesResponse" />
  </message>
  <message name="obtenerVideoPorId">
    <part name="parameters" element="tns:obtenerVideoPorId" />
  </message>
  <message name="obtenerVideoPorIdResponse">
    <part name="parameters" element="tns:obtenerVideoPorIdResponse" />
  </message>
  <message name="modificarSucursal">
    <part name="parameters" element="tns:modificarSucursal" />
  </message>
  <message name="modificarSucursalResponse">
    <part name="parameters" element="tns:modificarSucursalResponse" />
  </message>
  <message name="obtenerPersonalPorId">
    <part name="parameters" element="tns:obtenerPersonalPorId" />
  </message>
  <message name="obtenerPersonalPorIdResponse">
    <part name="parameters" element="tns:obtenerPersonalPorIdResponse" />
  </message>
  <message name="listarTodosPersonales">
    <part name="parameters" element="tns:listarTodosPersonales" />
  </message>
  <message name="listarTodosPersonalesResponse">
    <part name="parameters" element="tns:listarTodosPersonalesResponse" />
  </message>
  <message name="listarTodosSucursalesPorNombre">
    <part name="parameters" element="tns:listarTodosSucursalesPorNombre" />
  </message>
  <message name="listarTodosSucursalesPorNombreResponse">
    <part name="parameters" element="tns:listarTodosSucursalesPorNombreResponse" />
  </message>
  <message name="listarTodosVideos">
    <part name="parameters" element="tns:listarTodosVideos" />
  </message>
  <message name="listarTodosVideosResponse">
    <part name="parameters" element="tns:listarTodosVideosResponse" />
  </message>
  <message name="listarOrdenVentaPorCliente">
    <part name="parameters" element="tns:listarOrdenVentaPorCliente" />
  </message>
  <message name="listarOrdenVentaPorClienteResponse">
    <part name="parameters" element="tns:listarOrdenVentaPorClienteResponse" />
  </message>
  <portType name="PersonalWS">
    <operation name="listarTodosCargos">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosCargosRequest" message="tns:listarTodosCargos" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosCargosResponse" message="tns:listarTodosCargosResponse" />
    </operation>
    <operation name="listarTodosPersonalesPorNombre_Apellido_DNI">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosPersonalesPorNombre_Apellido_DNIRequest" message="tns:listarTodosPersonalesPorNombre_Apellido_DNI" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosPersonalesPorNombre_Apellido_DNIResponse" message="tns:listarTodosPersonalesPorNombre_Apellido_DNIResponse" />
    </operation>
    <operation name="verificarCuentaPersonalConPermisos">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/verificarCuentaPersonalConPermisosRequest" message="tns:verificarCuentaPersonalConPermisos" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/verificarCuentaPersonalConPermisosResponse" message="tns:verificarCuentaPersonalConPermisosResponse" />
    </operation>
    <operation name="listarTodosCargosPorNombre">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosCargosPorNombreRequest" message="tns:listarTodosCargosPorNombre" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosCargosPorNombreResponse" message="tns:listarTodosCargosPorNombreResponse" />
    </operation>
    <operation name="modificarPermisoPersonal">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/modificarPermisoPersonalRequest" message="tns:modificarPermisoPersonal" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/modificarPermisoPersonalResponse" message="tns:modificarPermisoPersonalResponse" />
    </operation>
    <operation name="listarOrdenVenta">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarOrdenVentaRequest" message="tns:listarOrdenVenta" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarOrdenVentaResponse" message="tns:listarOrdenVentaResponse" />
    </operation>
    <operation name="insertarSucursal">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/insertarSucursalRequest" message="tns:insertarSucursal" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/insertarSucursalResponse" message="tns:insertarSucursalResponse" />
    </operation>
    <operation name="listarMatriz">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarMatrizRequest" message="tns:listarMatriz" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarMatrizResponse" message="tns:listarMatrizResponse" />
    </operation>
    <operation name="eliminarSucursal">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/eliminarSucursalRequest" message="tns:eliminarSucursal" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/eliminarSucursalResponse" message="tns:eliminarSucursalResponse" />
    </operation>
    <operation name="listarTodosArticulos">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosArticulosRequest" message="tns:listarTodosArticulos" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosArticulosResponse" message="tns:listarTodosArticulosResponse" />
    </operation>
    <operation name="verificarCuentaPersonal">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/verificarCuentaPersonalRequest" message="tns:verificarCuentaPersonal" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/verificarCuentaPersonalResponse" message="tns:verificarCuentaPersonalResponse" />
    </operation>
    <operation name="listarTodosSucursales">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosSucursalesRequest" message="tns:listarTodosSucursales" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosSucursalesResponse" message="tns:listarTodosSucursalesResponse" />
    </operation>
    <operation name="obtenerVideoPorId">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/obtenerVideoPorIdRequest" message="tns:obtenerVideoPorId" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/obtenerVideoPorIdResponse" message="tns:obtenerVideoPorIdResponse" />
    </operation>
    <operation name="modificarSucursal">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/modificarSucursalRequest" message="tns:modificarSucursal" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/modificarSucursalResponse" message="tns:modificarSucursalResponse" />
    </operation>
    <operation name="obtenerPersonalPorId">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/obtenerPersonalPorIdRequest" message="tns:obtenerPersonalPorId" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/obtenerPersonalPorIdResponse" message="tns:obtenerPersonalPorIdResponse" />
    </operation>
    <operation name="listarTodosPersonales">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosPersonalesRequest" message="tns:listarTodosPersonales" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosPersonalesResponse" message="tns:listarTodosPersonalesResponse" />
    </operation>
    <operation name="listarTodosSucursalesPorNombre">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosSucursalesPorNombreRequest" message="tns:listarTodosSucursalesPorNombre" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosSucursalesPorNombreResponse" message="tns:listarTodosSucursalesPorNombreResponse" />
    </operation>
    <operation name="listarTodosVideos">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosVideosRequest" message="tns:listarTodosVideos" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarTodosVideosResponse" message="tns:listarTodosVideosResponse" />
    </operation>
    <operation name="listarOrdenVentaPorCliente">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarOrdenVentaPorClienteRequest" message="tns:listarOrdenVentaPorCliente" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/PersonalWS/listarOrdenVentaPorClienteResponse" message="tns:listarOrdenVentaPorClienteResponse" />
    </operation>
  </portType>
  <binding name="PersonalWSPortBinding" type="tns:PersonalWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosCargos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPersonalesPorNombre_Apellido_DNI">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCuentaPersonalConPermisos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCargosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPermisoPersonal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMatriz">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosArticulos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCuentaPersonal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosSucursales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerVideoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPersonalPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPersonales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosSucursalesPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosVideos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenVentaPorCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PersonalWS">
    <port name="PersonalWSPort" binding="tns:PersonalWSPortBinding">
      <soap:address location="http://localhost:8080/CdeJavaInventstarWebService/PersonalWS" />
    </port>
  </service>
</definitions>