ProyectosJavaCSharp/CSharp/InventStar/Connected Services/PersonalWS/PersonalWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.inventstar.cdejava.lp2/" targetNamespace="http://services.inventstar.cdejava.lp2/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarSucursal" type="tns:eliminarSucursal" />
  <xs:element name="eliminarSucursalResponse" type="tns:eliminarSucursalResponse" />
  <xs:element name="insertarSucursal" type="tns:insertarSucursal" />
  <xs:element name="insertarSucursalResponse" type="tns:insertarSucursalResponse" />
  <xs:element name="listarMatriz" type="tns:listarMatriz" />
  <xs:element name="listarMatrizResponse" type="tns:listarMatrizResponse" />
  <xs:element name="listarOrdenVenta" type="tns:listarOrdenVenta" />
  <xs:element name="listarOrdenVentaPorCliente" type="tns:listarOrdenVentaPorCliente" />
  <xs:element name="listarOrdenVentaPorClienteResponse" type="tns:listarOrdenVentaPorClienteResponse" />
  <xs:element name="listarOrdenVentaResponse" type="tns:listarOrdenVentaResponse" />
  <xs:element name="listarTodosArticulos" type="tns:listarTodosArticulos" />
  <xs:element name="listarTodosArticulosResponse" type="tns:listarTodosArticulosResponse" />
  <xs:element name="listarTodosCargos" type="tns:listarTodosCargos" />
  <xs:element name="listarTodosCargosPorNombre" type="tns:listarTodosCargosPorNombre" />
  <xs:element name="listarTodosCargosPorNombreResponse" type="tns:listarTodosCargosPorNombreResponse" />
  <xs:element name="listarTodosCargosResponse" type="tns:listarTodosCargosResponse" />
  <xs:element name="listarTodosPersonales" type="tns:listarTodosPersonales" />
  <xs:element name="listarTodosPersonalesPorNombre_Apellido_DNI" type="tns:listarTodosPersonalesPorNombre_Apellido_DNI" />
  <xs:element name="listarTodosPersonalesPorNombre_Apellido_DNIResponse" type="tns:listarTodosPersonalesPorNombre_Apellido_DNIResponse" />
  <xs:element name="listarTodosPersonalesResponse" type="tns:listarTodosPersonalesResponse" />
  <xs:element name="listarTodosSucursales" type="tns:listarTodosSucursales" />
  <xs:element name="listarTodosSucursalesPorNombre" type="tns:listarTodosSucursalesPorNombre" />
  <xs:element name="listarTodosSucursalesPorNombreResponse" type="tns:listarTodosSucursalesPorNombreResponse" />
  <xs:element name="listarTodosSucursalesResponse" type="tns:listarTodosSucursalesResponse" />
  <xs:element name="listarTodosVideos" type="tns:listarTodosVideos" />
  <xs:element name="listarTodosVideosResponse" type="tns:listarTodosVideosResponse" />
  <xs:element name="modificarPermisoPersonal" type="tns:modificarPermisoPersonal" />
  <xs:element name="modificarPermisoPersonalResponse" type="tns:modificarPermisoPersonalResponse" />
  <xs:element name="modificarSucursal" type="tns:modificarSucursal" />
  <xs:element name="modificarSucursalResponse" type="tns:modificarSucursalResponse" />
  <xs:element name="obtenerPersonalPorId" type="tns:obtenerPersonalPorId" />
  <xs:element name="obtenerPersonalPorIdResponse" type="tns:obtenerPersonalPorIdResponse" />
  <xs:element name="obtenerVideoPorId" type="tns:obtenerVideoPorId" />
  <xs:element name="obtenerVideoPorIdResponse" type="tns:obtenerVideoPorIdResponse" />
  <xs:element name="verificarCuentaPersonal" type="tns:verificarCuentaPersonal" />
  <xs:element name="verificarCuentaPersonalConPermisos" type="tns:verificarCuentaPersonalConPermisos" />
  <xs:element name="verificarCuentaPersonalConPermisosResponse" type="tns:verificarCuentaPersonalConPermisosResponse" />
  <xs:element name="verificarCuentaPersonalResponse" type="tns:verificarCuentaPersonalResponse" />
  <xs:complexType name="listarOrdenVenta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenVenta">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFinPedido" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaVenta" type="tns:localTime" />
      <xs:element name="idVenta" type="xs:int" />
      <xs:element minOccurs="0" name="personal" type="tns:personal" />
      <xs:element minOccurs="0" name="resenha" type="tns:reseña" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoDeVenta" />
      <xs:element name="total" type="xs:double" />
      <xs:element minOccurs="0" name="transaccion" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="aceptaPublicidad" type="xs:boolean" />
          <xs:element name="activo" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMat" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPat" type="xs:string" />
      <xs:element minOccurs="0" name="domicilio" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCumpleanhos" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono1" type="xs:string" />
      <xs:element minOccurs="0" name="telefono2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="personal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="cargo" type="tns:cargo" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cargo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCargo" type="xs:int" />
      <xs:element name="modificaInventario" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="salario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sucursal">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="aforo" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id_sucursal" type="xs:int" />
      <xs:element minOccurs="0" name="matriz" type="tns:matriz" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matriz">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccionMatriz" type="xs:string" />
      <xs:element minOccurs="0" name="emailMatriz" type="xs:string" />
      <xs:element name="id_matriz" type="xs:int" />
      <xs:element minOccurs="0" name="nombreMatriz" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocialMatriz" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoMatriz" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reseña">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element name="idReseña" type="xs:int" />
      <xs:element name="valoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transaccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora" type="tns:localTime" />
      <xs:element name="idTransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoDePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosArticulos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosArticulosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idArticulo" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSucursalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosCargos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCargosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cargo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPersonales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPersonalesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosVideos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosVideosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:video" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="video">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="duracion" type="xs:int" />
      <xs:element name="idVideo" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="url" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosSucursales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosSucursalesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaPersonalConPermisos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:cuentaPersonal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentaPersonal">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idCuentaPersonal" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="personal" type="tns:personal" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaPersonalConPermisosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPermisoPersonal">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPermisoPersonalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSucursalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonalPorId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonalPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenVentaPorCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenVentaPorClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSucursalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatriz">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMatrizResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosCargosPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosCargosPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cargo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerVideoPorId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerVideoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPersonalesPorNombre_Apellido_DNI">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPersonalesPorNombre_Apellido_DNIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaPersonal">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:cuentaPersonal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaPersonalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosSucursalesPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosSucursalesPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDeVenta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local" />
      <xs:enumeration value="Web" />
      <xs:enumeration value="Telefono" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Efectivo" />
      <xs:enumeration value="TarjetaBancaria" />
      <xs:enumeration value="Yape" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>