ProyectosJavaCSharp/CSharp/InventStar/Connected Services/InventarioWS/InventarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.inventstar.cdejava.lp2/" targetNamespace="http://services.inventstar.cdejava.lp2/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarBebida" type="tns:eliminarBebida" />
  <xs:element name="eliminarBebidaResponse" type="tns:eliminarBebidaResponse" />
  <xs:element name="eliminarComida" nillable="true" type="tns:eliminar" />
  <xs:element name="eliminarComidaResponse" nillable="true" type="tns:eliminarResponse" />
  <xs:element name="eliminarOrdenCompra" type="tns:eliminarOrdenCompra" />
  <xs:element name="eliminarOrdenCompraResponse" type="tns:eliminarOrdenCompraResponse" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="insertarBebida" type="tns:insertarBebida" />
  <xs:element name="insertarBebidaResponse" type="tns:insertarBebidaResponse" />
  <xs:element name="insertarComida" nillable="true" type="tns:insertarBebida" />
  <xs:element name="insertarComidaResponse" nillable="true" type="tns:insertarBebidaResponse" />
  <xs:element name="insertarOrdenCompra" type="tns:insertarOrdenCompra" />
  <xs:element name="insertarOrdenCompraResponse" type="tns:insertarOrdenCompraResponse" />
  <xs:element name="listarIngrediente" type="tns:listarIngrediente" />
  <xs:element name="listarIngredienteResponse" type="tns:listarIngredienteResponse" />
  <xs:element name="listarOrdenCompraPorProveedor" type="tns:listarOrdenCompraPorProveedor" />
  <xs:element name="listarOrdenCompraPorProveedorResponse" type="tns:listarOrdenCompraPorProveedorResponse" />
  <xs:element name="listarProveedor" type="tns:listarProveedor" />
  <xs:element name="listarProveedorResponse" type="tns:listarProveedorResponse" />
  <xs:element name="listarTodasBebidas" type="tns:listarTodasBebidas" />
  <xs:element name="listarTodasBebidasResponse" type="tns:listarTodasBebidasResponse" />
  <xs:element name="listarTodasComidas" type="tns:listarTodasComidas" />
  <xs:element name="listarTodasComidasResponse" type="tns:listarTodasComidasResponse" />
  <xs:element name="modificarBebida" nillable="true" type="tns:modificarComida" />
  <xs:element name="modificarBebidaResponse" nillable="true" type="tns:modificarComidaResponse" />
  <xs:element name="modificarComida" type="tns:modificarComida" />
  <xs:element name="modificarComidaResponse" type="tns:modificarComidaResponse" />
  <xs:complexType name="eliminarOrdenCompra">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompraResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasComidas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasComidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comida">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:alimento">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="insumo" type="tns:insumoPerecible" />
          <xs:element name="segundosACalentar" type="xs:int" />
          <xs:element minOccurs="0" name="tipo" type="tns:tipoDeComida" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="alimento" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element name="calorias" type="xs:int" />
          <xs:element name="cantidad" type="xs:double" />
          <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVenta">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="itemVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idItemVenta" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insumoPerecible">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:lote">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="comida" type="tns:comida" />
          <xs:element minOccurs="0" name="fechaIngeso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ingrediente" type="tns:ingrediente" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:double" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingrediente">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="bebida" type="tns:bebida" />
      <xs:element name="cantidad" type="xs:double" />
      <xs:element name="idIngrediente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bebida">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:alimento">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element name="esFria" type="xs:boolean" />
          <xs:element minOccurs="0" name="instrucciones" type="xs:string" />
          <xs:element minOccurs="0" name="tamanho" type="tns:tamanhoBebida" />
          <xs:element name="tiempoPreparacion" type="xs:int" />
          <xs:element minOccurs="0" name="tipo" type="tns:tipoDeBebida" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCompra" type="xs:dateTime" />
      <xs:element name="idCompra" type="xs:int" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sucursal">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="aforo" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id_sucursal" type="xs:int" />
      <xs:element minOccurs="0" name="matriz" type="tns:matriz" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matriz">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccionMatriz" type="xs:string" />
      <xs:element minOccurs="0" name="emailMatriz" type="xs:string" />
      <xs:element name="id_matriz" type="xs:int" />
      <xs:element minOccurs="0" name="nombreMatriz" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocialMatriz" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoMatriz" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBebida">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:bebida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBebidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBebida">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBebidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenCompraPorProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenCompraPorProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasBebidas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasBebidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:bebida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIngrediente">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarIngredienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ingrediente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenCompraResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProveedor">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarComida">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:comida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarComidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tamanhoBebida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alto" />
      <xs:enumeration value="Grande" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDeBebida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Frapuccinos" />
      <xs:enumeration value="EspressoCaliente" />
      <xs:enumeration value="EspressoFrio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDeComida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pastries" />
      <xs:enumeration value="Sandwiches" />
      <xs:enumeration value="Postres" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>