InventStar/ProyectosJavaCSharp/CSharp/InventStar/Connected Services/InventarioWS/InventarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.inventstar.cdejava.lp2/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InventarioWS" targetNamespace="http://services.inventstar.cdejava.lp2/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CdeJavaInventstarWebService/InventarioWS?xsd=1" namespace="http://services.inventstar.cdejava.lp2/" />
    </xsd:schema>
  </types>
  <message name="listarTodasComidas">
    <part name="parameters" element="tns:listarTodasComidas" />
  </message>
  <message name="listarTodasComidasResponse">
    <part name="parameters" element="tns:listarTodasComidasResponse" />
  </message>
  <message name="insertarOrdenCompra">
    <part name="parameters" element="tns:insertarOrdenCompra" />
  </message>
  <message name="insertarOrdenCompraResponse">
    <part name="parameters" element="tns:insertarOrdenCompraResponse" />
  </message>
  <message name="listarTodasBebidas">
    <part name="parameters" element="tns:listarTodasBebidas" />
  </message>
  <message name="listarTodasBebidasResponse">
    <part name="parameters" element="tns:listarTodasBebidasResponse" />
  </message>
  <message name="listarOrdenCompraPorProveedor">
    <part name="parameters" element="tns:listarOrdenCompraPorProveedor" />
  </message>
  <message name="listarOrdenCompraPorProveedorResponse">
    <part name="parameters" element="tns:listarOrdenCompraPorProveedorResponse" />
  </message>
  <message name="listarIngrediente">
    <part name="parameters" element="tns:listarIngrediente" />
  </message>
  <message name="listarIngredienteResponse">
    <part name="parameters" element="tns:listarIngredienteResponse" />
  </message>
  <message name="eliminarOrdenCompra">
    <part name="parameters" element="tns:eliminarOrdenCompra" />
  </message>
  <message name="eliminarOrdenCompraResponse">
    <part name="parameters" element="tns:eliminarOrdenCompraResponse" />
  </message>
  <message name="listarProveedor">
    <part name="parameters" element="tns:listarProveedor" />
  </message>
  <message name="listarProveedorResponse">
    <part name="parameters" element="tns:listarProveedorResponse" />
  </message>
  <message name="insertarBebida">
    <part name="parameters" element="tns:insertarBebida" />
  </message>
  <message name="insertarBebidaResponse">
    <part name="parameters" element="tns:insertarBebidaResponse" />
  </message>
  <message name="insertarComida">
    <part name="parameters" element="tns:insertarComida" />
  </message>
  <message name="insertarComidaResponse">
    <part name="parameters" element="tns:insertarComidaResponse" />
  </message>
  <message name="modificarComida">
    <part name="parameters" element="tns:modificarComida" />
  </message>
  <message name="modificarComidaResponse">
    <part name="parameters" element="tns:modificarComidaResponse" />
  </message>
  <message name="modificarBebida">
    <part name="parameters" element="tns:modificarBebida" />
  </message>
  <message name="modificarBebidaResponse">
    <part name="parameters" element="tns:modificarBebidaResponse" />
  </message>
  <message name="eliminarComida">
    <part name="parameters" element="tns:eliminarComida" />
  </message>
  <message name="eliminarComidaResponse">
    <part name="parameters" element="tns:eliminarComidaResponse" />
  </message>
  <message name="eliminarBebida">
    <part name="parameters" element="tns:eliminarBebida" />
  </message>
  <message name="eliminarBebidaResponse">
    <part name="parameters" element="tns:eliminarBebidaResponse" />
  </message>
  <portType name="InventarioWS">
    <operation name="listarTodasComidas">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarTodasComidasRequest" message="tns:listarTodasComidas" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarTodasComidasResponse" message="tns:listarTodasComidasResponse" />
    </operation>
    <operation name="insertarOrdenCompra">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/insertarOrdenCompraRequest" message="tns:insertarOrdenCompra" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/insertarOrdenCompraResponse" message="tns:insertarOrdenCompraResponse" />
    </operation>
    <operation name="listarTodasBebidas">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarTodasBebidasRequest" message="tns:listarTodasBebidas" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarTodasBebidasResponse" message="tns:listarTodasBebidasResponse" />
    </operation>
    <operation name="listarOrdenCompraPorProveedor">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarOrdenCompraPorProveedorRequest" message="tns:listarOrdenCompraPorProveedor" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarOrdenCompraPorProveedorResponse" message="tns:listarOrdenCompraPorProveedorResponse" />
    </operation>
    <operation name="listarIngrediente">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarIngredienteRequest" message="tns:listarIngrediente" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarIngredienteResponse" message="tns:listarIngredienteResponse" />
    </operation>
    <operation name="eliminarOrdenCompra">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/eliminarOrdenCompraRequest" message="tns:eliminarOrdenCompra" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/eliminarOrdenCompraResponse" message="tns:eliminarOrdenCompraResponse" />
    </operation>
    <operation name="listarProveedor">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarProveedorRequest" message="tns:listarProveedor" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/listarProveedorResponse" message="tns:listarProveedorResponse" />
    </operation>
    <operation name="insertarBebida">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/insertarBebidaRequest" message="tns:insertarBebida" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/insertarBebidaResponse" message="tns:insertarBebidaResponse" />
    </operation>
    <operation name="insertarComida">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/insertarComidaRequest" message="tns:insertarComida" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/insertarComidaResponse" message="tns:insertarComidaResponse" />
    </operation>
    <operation name="modificarComida">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/modificarComidaRequest" message="tns:modificarComida" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/modificarComidaResponse" message="tns:modificarComidaResponse" />
    </operation>
    <operation name="modificarBebida">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/modificarBebidaRequest" message="tns:modificarBebida" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/modificarBebidaResponse" message="tns:modificarBebidaResponse" />
    </operation>
    <operation name="eliminarComida">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/eliminarComidaRequest" message="tns:eliminarComida" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/eliminarComidaResponse" message="tns:eliminarComidaResponse" />
    </operation>
    <operation name="eliminarBebida">
      <input wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/eliminarBebidaRequest" message="tns:eliminarBebida" />
      <output wsam:Action="http://services.inventstar.cdejava.lp2/InventarioWS/eliminarBebidaResponse" message="tns:eliminarBebidaResponse" />
    </operation>
  </portType>
  <binding name="InventarioWSPortBinding" type="tns:InventarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodasComidas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasBebidas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenCompraPorProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIngrediente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBebida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarComida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarComida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarBebida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarComida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBebida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InventarioWS">
    <port name="InventarioWSPort" binding="tns:InventarioWSPortBinding">
      <soap:address location="http://localhost:8080/CdeJavaInventstarWebService/InventarioWS" />
    </port>
  </service>
</definitions>